<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Deposit</title>

    <script src="../makeDeposit.js" defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h2>Make Deposit</h2>
        <h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z"/>
                <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <a href="/menu" class="link-danger">Return to Menu</a>
        </h4>
    </div>
    <div class="col">
        <form method="POST" action="/make_deposit">
            <div class="form-group">
                <div class="form-group">
                    <label for="amount">Amount ($)*:</label>
                    <input type="number" class="form-control" name="amount" id="amount">
                </div>
                <label for="bankID">Bank Receiving*:</label>
                <select class="form-select" id="bankID" name="bankID">
                    <option value="" disabled selected>Bank ID</option>
                    <% for(var i = 0; i < banks.length; i++) {%>
                        <option value="<%= banks[i].bankID %>">
                            <%= banks[i].bankID %>
                        </option>
                    <% } %>
                </select>
                <label for="accountID">Account Receiving*:</label>
                <select class="form-select" id="accountID" name="accountID">
                    <option value="" disabled selected>Account ID</option>
                    <% for(var i = 0; i < accounts.length; i++) {%>
                        <option value="<%= accounts[i].accountID %>">
                            <%= accounts[i].accountID %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div hidden id="message" role="alert">
                <p></p>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Deposit" id="makeDeposit">
                <button type="reset" onclick="window.location.href='/menu'" class="btn btn-danger">Cancel</button>
            </div>
            <div class="text-black" role="alert">
                <p>* = required</p>
            </div>
            <br />
            <br />
        </form>
    </div>
</div>
</body>
</html>